---
export interface Props {
  url: URL
}

const { url } = Astro.props

const postURL =
  url.hostname === 'x.com' || url.hostname === 'www.x.com'
    ? new URL(url.pathname, 'https://twitter.com')
    : url
---

<div class="light-tweet-embed">
  <blockquote class="twitter-tweet" data-conversation="none">
    <a href={postURL}></a>
  </blockquote>
</div>

<div class="dark-tweet-embed">
  <blockquote class="twitter-tweet" data-conversation="none" data-theme="dark">
    <a href={postURL}></a>
  </blockquote>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<style is:global>
  .light-tweet-embed {
    width: 100%;
    max-width: 640px;
    display: block;
  }
  .dark-tweet-embed {
    width: 100%;
    max-width: 640px;
    display: none;
  }
  .darkmode .dark-tweet-embed {
    display: block;
  }
  .darkmode .light-tweet-embed {
    display: none;
  }
</style>
