.gray {
  color: rgba(120, 119, 116, 1);
}
.brown {
  color: rgba(159, 107, 83, 1);
}
.orange {
  color: rgba(217, 115, 13, 1);
}
.yellow {
  color: rgba(203, 145, 47, 1);
}
.green {
  color: rgba(68, 131, 97, 1);
}
.blue {
  color: rgba(51, 126, 169, 1);
}
.purple {
  color: rgba(144, 101, 176, 1);
}
.pink {
  color: rgba(193, 76, 138, 1);
}
.red {
  color: rgba(212, 76, 71, 1);
}

.gray-background {
  background: rgba(83, 83, 83, 0.08) !important;
}
.brown-background {
  background: rgba(134, 74, 43, 0.08) !important;
}
.orange-background {
  background: rgba(255, 128, 0, 0.08) !important;
}
.yellow-background {
  background: rgba(255, 191, 0, 0.08) !important;
}
.green-background {
  background: rgba(0, 255, 123, 0.08) !important;
}
.blue-background {
  background: rgba(0, 179, 255, 0.08) !important;
}
.purple-background {
  background: rgba(144, 0, 255, 0.08) !important;
}
.pink-background {
  background: rgba(255, 0, 115, 0.08) !important;
}
.red-background {
  background: rgba(255, 0, 13, 0.08) !important;
}

.callout.gray-background {
  border: 1px solid rgba(83, 83, 83, 0.2) !important;
}
.callout.brown-background {
  border: 1px solid rgba(134, 74, 43, 0.2) !important;
}
.callout.orange-background {
  border: 1px solid rgba(255, 128, 0, 0.2) !important;
}
.callout.yellow-background {
  border: 1px solid rgba(255, 191, 0, 0.3) !important;
}
.callout.green-background {
  border: 1px solid rgba(0, 255, 123, 0.3) !important;
}
.callout.blue-background {
  border: 1px solid rgba(0, 179, 255, 0.2) !important;
}
.callout.purple-background {
  border: 1px solid rgba(144, 0, 255, 0.2) !important;
}
.callout.pink-background {
  border: 1px solid rgba(255, 0, 115, 0.2) !important;
}
.callout.red-background {
  border: 1px solid rgba(255, 0, 13, 0.2) !important;
}

.tag.light-gray {
  background: rgba(227, 226, 224, 0.5) !important;
}
.tag.gray {
  background: rgb(227, 226, 224) !important;
}
.tag.brown {
  background: rgb(238, 224, 218) !important;
}
.tag.orange {
  background: rgb(250, 222, 201) !important;
}
.tag.yellow {
  background: rgb(253, 236, 200) !important;
}
.tag.green {
  background: rgb(219, 237, 219) !important;
}
.tag.blue {
  background: rgb(211, 229, 239) !important;
}
.tag.purple {
  background: rgb(232, 222, 238) !important;
}
.tag.pink {
  background: rgb(245, 224, 233) !important;
}
.tag.red {
  background: rgb(255, 226, 221) !important;
}

@media (hover: hover) {
  .tag.light-gray:hover {
    background: rgba(211, 208, 202, 0.5) !important;
  }
  .tag.gray:hover {
    background: rgb(217, 215, 210) !important;
  }
  .tag.brown:hover {
    background: rgb(229, 212, 205) !important;
  }
  .tag.orange:hover {
    background: rgb(239, 210, 188) !important;
  }
  .tag.yellow:hover {
    background: rgb(239, 222, 183) !important;
  }
  .tag.green:hover {
    background: rgb(204, 226, 204) !important;
  }
  .tag.blue:hover {
    background: rgb(198, 218, 229) !important;
  }
  .tag.purple:hover {
    background: rgb(218, 205, 225) !important;
  }
  .tag.pink:hover {
    background: rgb(235, 210, 221) !important;
  }
  .tag.red:hover {
    background: rgb(235, 204, 199) !important;
  }
}
@media (hover: none) {
  .tag.light-gray:active {
    background: rgba(211, 208, 202, 0.5) !important;
  }
  .tag.gray:active {
    background: rgb(217, 215, 210) !important;
  }
  .tag.brown:active {
    background: rgb(229, 212, 205) !important;
  }
  .tag.orange:active {
    background: rgb(239, 210, 188) !important;
  }
  .tag.yellow:active {
    background: rgb(239, 222, 183) !important;
  }
  .tag.green:active {
    background: rgb(204, 226, 204) !important;
  }
  .tag.blue:active {
    background: rgb(198, 218, 229) !important;
  }
  .tag.purple:active {
    background: rgb(218, 205, 225) !important;
  }
  .tag.pink:active {
    background: rgb(235, 210, 221) !important;
  }
  .tag.red:active {
    background: rgb(235, 204, 199) !important;
  }
}