.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}
@media (max-width: 900px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid-parts {
  position: relative;
  border: var(--border);
  border-radius: var(--radius);
  overflow: hidden;
}
@media (hover: hover) {
  .grid-parts:hover {
    background: var(--bg2);
  }
}
@media (hover: none) {
  .grid-parts:active {
    background: var(--bg2);
  }
}
.grid-parts svg {
  width: 18px;
  height: 18px;
  margin-right: 5px; 
}
.grid-image {
  overflow: hidden;
  aspect-ratio: 16 / 9;
}
@media (min-width: 641px) {
  .grid-fix {
    display: flex;
    align-items: center;
    min-height: 200px;
  }
}
.grid-text {
  width: 100%;
  padding: 10px 13px 16px;
}
.date-area {
  margin-top: 1.2rem;
}
.tags-area {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}