.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  line-height: 32px;
}
@media (max-width: 900px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    line-height: 28px;
  }
}
.grid-parts {
  position: relative;
  border: solid 1px #dfdfde;
  border-radius: 8px;
  overflow: hidden;
}
.grid-parts:hover {
  background: #f7f6f3;
}
.grid-parts svg {
  width: 18px;
  height: 18px;
  margin-right: 5px; 
}
.grid-image {
  overflow: hidden;
}
@media (min-width: 641px) {
  .grid-fix {
    display: flex;
    align-items: center;
    min-height: 200px;
  }
}
.grid-text {
  width: 100%;
  padding: 6px 13px 17px;
}
.date-area {
  margin-top: 0.8rem;
}
.tags-area {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}