---
import { INDEX_PAGE_ID } from '../server-constants.ts'
import { getAllBlocksByBlockId } from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import AboutBody from '../components/AboutBody.astro'
import AboutLinks from '../components/AboutLinks.astro'
import {
  getBlock,
  getAllBlocksByBlockId,
  downloadFile,
} from '../lib/notion/client.ts'
import { extractTargetBlocks } from '../lib/blog-helpers.ts'
import ContentList from '../components/ContentList.astro'

const blocks = await getAllBlocksByBlockId(INDEX_PAGE_ID)

const fileAtacchedBlocks = extractTargetBlocks('image', blocks)
  .concat(extractTargetBlocks('file', blocks))
  .filter((block) => {
    if (!block) {
      return false
    }
    const imageOrFile = block.Image || block.File
    return imageOrFile && imageOrFile.File && imageOrFile.File.Url
  })

// Download files
await Promise.all(
  fileAtacchedBlocks
    .map(async (block) => {
      const expiryTime = (block.Image || block.File).File.ExpiryTime
      if (Date.parse(expiryTime) > Date.now()) {
        return Promise.resolve(block)
      }
      return getBlock(block.Id)
    })
    .map((promise) =>
      promise.then((block) => {
        let url!: URL
        try {
          url = new URL((block.Image || block.File).File.Url)
        } catch (err) {
          console.log('Invalid file URL')
          return Promise.reject()
        }
        return Promise.resolve(url)
      })
    )
    .map((promise) => promise.then(downloadFile))
)
---

<Layout title="About" path="/about">
  <div slot="main">
    <div class="head-wrapper">
      <h1>About</h1>
      <AboutLinks />
    </div>
    <div class="body-wrapper">
      <AboutBody blocks={blocks} />
      <ContentList blocks={blocks} />
    </div>
  </div>
</Layout>

<style>
  h1 {
    margin: 0 0 0.7rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--fg);
    line-height: 1.3;
  }
  @media (max-width: 640px) {
    h1 {
      font-size: 1.875rem;
    }
  }
  .body-wrapper {
    padding-bottom: 3rem;
  }
  @media (min-width: 801px) {
    .body-wrapper {
      display: flex;
      gap: 60px;
    }
  }
</style>