---
import { INDEX_PAGE_ID } from '../server-constants.ts'
import { getAllBlocksByBlockId } from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import NotionBlocks from '../components/NotionBlocks.astro'
import AboutLinks from '../components/AboutLinks.astro'

const blocks = await getAllBlocksByBlockId(INDEX_PAGE_ID)
---

<Layout title="About" path="/about">
  <div slot="main">
    <h2 class="blog-label">About</h2>
    <AboutLinks />
    <NotionBlocks blocks={blocks} isRoot={true} />
  </div>
</Layout>

<style>
  h2 {
    margin: 0 0 0.7rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--fg);
    line-height: 1.3;
  }
  @media (max-width: 640px) {
    h2 {
      font-size: 1.875rem;
    }
  }
</style>