---
import Layout from '../layouts/Layout.astro'
import Search from "astro-pagefind/components/Search";
---

<Layout title="検索" path="/search">
  <div slot="main">
    <h1>検索</h1>
    <Search
      id="search"
      className="pagefind-ui"
      uiOptions={{
        pageSize: 10,
        excerptLength: 30,
        showSubResults : true,
        showImages: false,
        translations: {
          placeholder: '何をお探しですか？',
          clear_search: '✕',
          search_label: 'このサイトを検索',
          filters_label: 'フィルタ',
          zero_results: '“[SEARCH_TERM]” の検索結果（0件）',
          many_results: '“[SEARCH_TERM]” の検索結果（[COUNT]件）',
          one_result: '“[SEARCH_TERM]” の検索結果（[COUNT]件）',
          alt_search: '“[SEARCH_TERM]” に一致する検索結果はありません。[DIFFERENT_TERM] の結果を表示しています。',
          search_suggestion: '“[SEARCH_TERM]” に一致する検索結果はありません。次のいずれかの検索をお試しください。',
          searching: '“[SEARCH_TERM]” を検索しています…',
          load_more: 'さらに表示',
        },
      }}
    />
  </div>
</Layout>

<style>
  h1 {
    margin: 0 0 0.7rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--fg);
    line-height: 1.3;
  }
  @media (max-width: 640px) {
    h1 {
      font-size: 1.875rem;
    }
  }
</style>

<style is:global>
  .pagefind-ui {
    --pagefind-ui-text: var(--fg);
    --pagefind-ui-background: var(--bg);
    --pagefind-ui-border: var(--bd);
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: var(--radius);
    --pagefind-ui-font: var(--font-sans);
  }
</style>