---
import { Icon } from 'astro-icon/components'
---

<a class="about-button" href="/about" aria-label="About">
	<Icon name="mingcute:information-line" />
</a>

<style>
	.about-button {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .about-button:hover {
  	cursor: pointer;
    background: #f7f6f3;
  }
  svg {
  	width: 26px;
    height: 26px;
  }
	.about-button [data-icon="mingcute:information-line"] {
    color: var(--fg);
  }
  .about-button.current [data-icon="mingcute:information-line"] {
    color: var(--accents-4);
  }
</style>

<script>
  document.querySelectorAll('.about-button').forEach(link => {
    if(location.pathname.includes('/about')){
      link.classList.add('current')
    }
  })
</script>