---
import { Icon } from 'astro-icon/components'
---

<a class="blog-button" href="/blog" aria-label="ブログ">
	<Icon name="mingcute:document-2-line" />
</a>

<style>
	.blog-button {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .blog-button:hover {
  	cursor: pointer;
    background: #f7f6f3;
  }
  svg {
  	width: 26px;
    height: 26px;
  }
	[data-icon="mingcute:document-2-line"] {
    color: #000;
  }
</style>