---
import type { SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'
import '../styles/notion-color.css'
import '../styles/scroll-links.css'

export interface Props {
  heading: string
  tags: SelectProperty[]
}

const { tags } = Astro.props
---

<div class="scroll-links">
  {
    tags.length === 0 ? (
      <NoContents contents={tags} />
    ) : (
      <ul id="scroll-links-tags">
        {tags.map((tag: SelectProperty) => (
          <li>
            <a href={getTagLink(tag.name)}>
              <span>{tag.name}</span>
            </a>
          </li>
        ))}
      </ul>
    )
  }
</div>

<style>
  .scroll-links ul {
    padding: 0 0 30px 0;
  }
  .scroll-links ul li a {
    padding: 0 10px;
  }
</style>