---
import type { SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'
import '../styles/notion-color.css'
import { Icon } from 'astro-icon/components'

export interface Props {
  heading: string
  tags: SelectProperty[]
}

const { heading, tags } = Astro.props
---

<div class="blog-tags-link">
  <h2>{heading}</h2>
  {
    tags.length === 0 ? (
      <NoContents contents={tags} />
    ) : (
      <ul class="Box-Container">
        <Icon name="mingcute:filter-line" />
        {tags.map((tag: SelectProperty) => (
          <li>
            <a href={getTagLink(tag.name)}>
              {tag.name}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</div>

<style>
  @media (max-width: 640px) {
    .blog-tags-link {
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
    }
  }
  .blog-tags-link svg {
    min-width: 26px;
    min-height: 26px;
    margin-right: 6px;
  }
  @media (max-width: 640px) {
    .blog-tags-link svg {
      margin-left: 18px;
    }
  }
  .blog-tags-link h2 {
    margin: 0;
    padding-left: 0.4rem;
    color: #777;
    font-size: 0.95rem;
  }
  .blog-tags-link ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    overflow-x: scroll;
    white-space: nowrap;
    align-items: center;
    padding: 10px 0 20px 0;
  }
  .blog-tags-link ul::-webkit-scrollbar {
    display: none;
  }
  .blog-tags-link ul li {
    position: relative;
    line-height: 1.2rem;
    font-size: 1rem;
    gap: 6px;
    padding-right: 0.6rem;
  }
  .blog-tags-link ul li:last-child {
    padding-right: 0;
  }
  @media (max-width: 640px) {
    .blog-tags-link ul li:last-child {
      padding-right: 18px;
    }
  }
  .blog-tags-link ul li a {
    min-width: 0;
    border-radius: 8px;
    padding: 6px 12px;
    line-height: 1.2;
    color: rgb(50, 48, 44);
    background: #f7f6f3;
  }
  .blog-tags-link ul li a:hover {
    background: #ebebeb;
  }
  [data-icon="mingcute:filter-line"] {
    color: #333333;
  }
</style>

<script>
  const scrollElement = document.querySelector(".Box-Container");

  scrollElement.addEventListener("wheel", (e) => {
    if (Math.abs(e.deltaY) < Math.abs(e.deltaX)) return;
    e.preventDefault();
    scrollElement.scrollLeft += e.deltaY;
  });
</script>