---
import { Icon } from 'astro-icon/components'
---

<div class="mode-wrap">
  <input type="checkbox" id="mode-toggle" tabindex="0" />
  <label for="mode-toggle"><span></span></label>
</div>

<button id="modes" type="button" aria-label="テーマ切替">
  <Icon name="mingcute:sun-line" />
  <Icon name="mingcute:moon-line" />
</button>

<style is:global>
/* --------------------
layout.astro
-------------------- */
:root.darkmode {
  --bg: #0a0a0a;
  --bg2: #1b1b1b;
  --fg: #ddd;
  --fg2: #8f8f8f;
  --bd: #2e2e2e;
  --bd2: #505050;
  --ac: #c29f6c;
  --ac2: #dba95e;
  --ac3: #76654f;
  --ac4: #4d4435;
  --scroll: 255, 255, 255;
  --shadow: 0 5px 15px #7474743b;
}

/* --------------------
Navigation.astro
-------------------- */
.darkmode .fixed-nav {
  background: rgba(10, 10, 10, 0.7) !important;
}

/* --------------------
posts/[slug].astro
-------------------- */
@media (hover: hover) {
  .darkmode .share-area [data-icon="simple-icons:x"]:hover {
    color: #fffffc !important;
  }
  .darkmode .share-area [data-icon="simple-icons:threads"]:hover {
    color: #f3f5f7 !important;
  }
}
@media (hover: none) {
  .darkmode .share-area [data-icon="simple-icons:x"]:active {
    color: #fffffc !important;
  }
  .darkmode .share-area [data-icon="simple-icons:threads"]:active {
    color: #f3f5f7 !important;
  }
}

/* --------------------
Code.astro
-------------------- */
.darkmode .code button.copy {
  background: #272727 !important;
}
@media (hover: hover) {
  .darkmode .code button.copy:hover {
    background: #303030 !important;
  }
}
@media (hover: none) {
  .darkmode .code button.copy:active {
    background: #303030 !important;
  }
}

/* --------------------
tooltip.css
-------------------- */
.darkmode .tooltip {
  background: #323232 !important;
}

/* --------------------
scroll-links
-------------------- */
.darkmode #scroll-links-social [data-icon="simple-icons:x"] {
  color: #fffffc !important;
}
.darkmode #scroll-links-other [data-icon="simple-icons:wikipedia"] {
  color: #fff !important;
}

/* --------------------
notion-color.css
-------------------- */
.darkmode .gray {
  color: #9b9b9b !important;
}
.darkmode .brown {
  color: #ba856f !important;
}
.darkmode .orange {
  color: #c77d48 !important;
}
.darkmode .yellow {
  color: #ca9849 !important;
}
.darkmode .green {
  color: #529e72 !important;
}
.darkmode .blue {
  color: #5e87c9 !important;
}
.darkmode .purple {
  color: #9d68d3 !important;
}
.darkmode .pink {
  color: #d15796 !important;
}
.darkmode .red {
  color: #df5452 !important;
}

.darkmode .gray-background {
  background: rgba(144, 144, 144, 0.08) !important;
}
.darkmode .brown-background {
  background: rgba(202, 67, 0, 0.08) !important;
}
.darkmode .orange-background {
  background: rgba(255, 98, 0, 0.08) !important;
}
.darkmode .yellow-background {
  background: rgba(255, 153, 0, 0.08) !important;
}
.darkmode .green-background {
  background: rgba(0, 255, 115, 0.08) !important;
}
.darkmode .blue-background {
  background: rgba(0, 166, 255, 0.08) !important;
}
.darkmode .purple-background {
  background: rgba(195, 0, 255, 0.08) !important;
}
.darkmode .pink-background {
  background: rgba(255, 0, 111, 0.08) !important;
}
.darkmode .red-background {
  background: rgba(255, 25, 0, 0.08) !important;
}

.darkmode .callout.gray-background {
  border: 1px solid rgba(144, 144, 144, 0.15) !important;
}
.darkmode .callout.brown-background {
  border: 1px solid rgba(202, 67, 0, 0.15) !important;
}
.darkmode .callout.orange-background {
  border: 1px solid rgba(255, 98, 0, 0.15) !important;
}
.darkmode .callout.yellow-background {
  border: 1px solid rgba(255, 153, 0, 0.15) !important;
}
.darkmode .callout.green-background {
  border: 1px solid rgba(0, 255, 115, 0.15) !important;
}
.darkmode .callout.blue-background {
  border: 1px solid rgba(0, 166, 255, 0.15) !important;
}
.darkmode .callout.purple-background {
  border: 1px solid rgba(195, 0, 255, 0.15) !important;
}
.darkmode .callout.pink-background {
  border: 1px solid rgba(255, 0, 111, 0.15) !important;
}
.darkmode .callout.red-background {
  border: 1px solid rgba(255, 25, 0, 0.15) !important;
}

.darkmode .tag.default {
  background: #373737 !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.gray {
  background: #5a5a5a !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.brown {
  background: #603b2c !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.orange {
  background: #864C1D !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.yellow {
  background: #8a632a !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.green {
  background: #2c5940 !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.blue {
  background: #28456c !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.purple {
  background: #493064 !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.pink {
  background: #613047 !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.red {
  background: #6f3630 !important;
  color: #f7f7f7 !important;
}

@media (hover: hover) {
  .darkmode .tag.default:hover {
    background: #464646 !important;
  }
  .darkmode .tag.gray:hover {
    background: #6b6b6b !important;
  }
  .darkmode .tag.brown:hover {
    background: #724837 !important;
  }
  .darkmode .tag.orange:hover {
    background: #985825 !important;
  }
  .darkmode .tag.yellow:hover {
    background: #b58640 !important;
  }
  .darkmode .tag.green:hover {
    background: #376b4e !important;
  }
  .darkmode .tag.blue:hover {
    background: #30517b !important;
  }
  .darkmode .tag.purple:hover {
    background: #5a3d79 !important;
  }
  .darkmode .tag.pink:hover {
    background: #733c56 !important;
  }
  .darkmode .tag.red:hover {
    background: #84433c !important;
  }
}
@media (hover: none) {
  .darkmode .tag.default:active {
    background: #464646 !important;
  }
  .darkmode .tag.gray:active {
    background: #6b6b6b !important;
  }
  .darkmode .tag.brown:active {
    background: #724837 !important;
  }
  .darkmode .tag.orange:active {
    background: #985825 !important;
  }
  .darkmode .tag.yellow:active {
    background: #b58640 !important;
  }
  .darkmode .tag.green:active {
    background: #376b4e !important;
  }
  .darkmode .tag.blue:active {
    background: #30517b !important;
  }
  .darkmode .tag.purple:active {
    background: #5a3d79 !important;
  }
  .darkmode .tag.pink:active {
    background: #733c56 !important;
  }
  .darkmode .tag.red:active {
    background: #84433c !important;
  }
}

/* --------------------
syntax-coloring.css
-------------------- */
.darkmode .token.comment,
.darkmode .token.prolog,
.darkmode .token.doctype,
.darkmode .token.cdata {
  color: #a2b5ca;
}

.darkmode .token.string,
.darkmode .token.attr-value {
  color: #99c443;
}

.darkmode .token.punctuation {
  color: #7c7c7c;
}

.darkmode .token.operator {
  color: #d5a66c;
}

.darkmode .token.entity,
.darkmode .token.url,
.darkmode .token.symbol,
.darkmode .token.number,
.darkmode .token.boolean,
.darkmode .token.variable,
.darkmode .token.constant,
.darkmode .token.property,
.darkmode .token.regex {
  color: #cf2382;
}

.darkmode .token.prefix.inserted {
  color: #99c443;
}

.darkmode .token.prefix.deleted {
  color: #f06c86;
}

.darkmode .token.atrule,
.darkmode .token.keyword,
.darkmode .attr-name,
.darkmode .language-autohotkey .token.selector {
  color: #3ebcf2;
}

.darkmode .token.function,
.darkmode .language-autohotkey .token.tag {
  color: #f06c86;
}

.darkmode .token.tag,
.darkmode .token.selector,
.darkmode .language-autohotkey .token.keyword {
  color: #9797f5;
}

/* --------------------
ダークモードトグル
-------------------- */
.mode-wrap {
  display: none;
}

#modes {
  display: flex;
  height: 45.6px;
  width: 45.6px;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
@media (hover: hover) {
  #modes:hover {
    background: var(--bg2);
  }
}
@media (hover: none) {
  #modes:active {
    background: var(--bg2);
  }
}
#modes svg{
  width: 24px;
  height: 24px;
}
[data-icon="mingcute:sun-line"] {
  display: none;
}
[data-icon="mingcute:moon-line"] {
  display: block;
  color: #222;
}
.darkmode [data-icon="mingcute:sun-line"] {
  display: block;
  color: var(--fg);
}
.darkmode [data-icon="mingcute:moon-line"] {
  display: none;
}
</style>

<script is:inline>
/* --------------------
ダークモード切り替え
-------------------- */
// OS設定を反映
const osDark = window.matchMedia("(prefers-color-scheme: dark)");
// トグル処理
const modeToggle = document.getElementById("mode-toggle");
function darkModeOn() {
  document.documentElement.classList.add("darkmode");
  modeToggle.checked = true;
}

function darkModeOff() {
  document.documentElement.classList.remove("darkmode");
  modeToggle.checked = false;
}

const listener = (event) => {
  if (event.matches) {
    darkModeOn();
  } else {
    darkModeOff();
  }
};

osDark.addEventListener("change", listener);
listener(osDark);

modeToggle.addEventListener("change", () => {
  if (modeToggle.checked) {
    darkModeOn();
    style = "dark";
  } else {
    darkModeOff();
    style = "light";
  }
  localStorage.setItem("mode", style);
});
// モード設定をロード
if (localStorage.getItem("mode") === "dark") {
  darkModeOn();
} else if (localStorage.getItem("mode") === "light") {
  darkModeOff();
}

modes.addEventListener ( "click", () => { 
  modeToggle.click();
});
</script>