---
import { Icon } from 'astro-icon/components'
---

<div class="mode-wrap">
  <input type="checkbox" id="mode-toggle" tabindex="0" />
  <label for="mode-toggle"><span></span></label>
</div>

<button id="modes" type="button">
  <Icon name="mingcute:sun-fill" />
  <Icon name="mingcute:moon-fill" />
</button>

<style is:global>
/* --------------------
layout.astro
-------------------- */
:root.darkmode {
  --bg: #191919;
  --fg: #d5d5d5;
  --accents-1: #9c9c9c;
  --accents-2: #f26000;
  --accents-3: #474c50;
  --accents-4: #a58452;
  --accents-5: #c29f6c;
  --bg2: #252525;
}
.darkmode header h1 {
  color: var(--fg);
}
.darkmode aside {
  background: var(--bg2);
  color: var(--fg);
}
.darkmode .coversvg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(114deg) brightness(112%) contrast(101%);
}
.darkmode footer::before {
  background: #373737 !important;
 }
.darkmode .system, .darkmode .system a {
  color: #7f7f7f !important;
}

/* --------------------
pages/blog/index.astro
-------------------- */
.darkmode .all-posts {
  color: #d5d5d5 !important;
}
.darkmode .all-posts:hover {
  background: var(--bg2) !important;
}

/* --------------------
pages/blog/index.astro
-------------------- */
.darkmode .read-more-link a {
  color: var(--fg);
}
.darkmode .grid-parts {
  border:solid 1px #373737 !important;
}

/* --------------------
posts/[slug].astro
-------------------- */
.darkmode .content h1 {
  color: var(--fg);
}
.darkmode .share-area {
    border-top: 1px solid #373737 !important;
}
.darkmode .share-area [data-icon="simple-icons:x"]:hover {
    color: #fffffc !important;
}

/* --------------------
tag/[tag].astro
-------------------- */
.darkmode [data-icon="mingcute:filter-fill"] {
  color: #d5d5d5 !important;
}

/* --------------------
Pagination.astro
-------------------- */
.darkmode .pagination {
  color: #adadad !important;
  border: solid 1px #373737 !important;
}
.darkmode .pagination a:hover:not(.inactive) {
  background: var(--bg2) !important;
}
.darkmode .pagination a.inactive {
  color: #f7f7f7 !important;
  background: #323232 !important;
}
/* --------------------
Bookmark.astro
-------------------- */
.darkmode .bookmark > a {
  border: 1px solid #373737 !important;
}
.darkmode .bookmark > a:hover {
  background: var(--bg2) !important;
}

/* --------------------
BulletedListItems.astro
-------------------- */
.darkmode li {
  color: var(--fg);
}

/* --------------------
Callout.astro
-------------------- */
.darkmode .callout.gray-background {
  background: #252525 !important;
}

/* --------------------
Code.astro
-------------------- */
.darkmode .code button.copy {
    background-color: #323232 !important;
    color: var(--fg) !important;
  }
.darkmode .code pre {
  background: var(--bg2) !important;
  &::-webkit-scrollbar {
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #474c50 !important;
  }
  &::-webkit-scrollbar-track {
    background: var(--bg2) !important;
  }
}
.darkmode .code pre code {
  color: var(--fg);
}
.darkmode code {
  background: #2F2F2D !important;
}

.darkmode .code > div {
  background: var(--bg2) !important;
}

/* --------------------
Caption.astro
-------------------- */
.darkmode .caption {
  color: #7f7f7f !important;
}

/* --------------------
Divider.astro
-------------------- */
.darkmode .divider {
    background-color: #373737 !important;
}

/* --------------------
File.astro
-------------------- */
.darkmode .file a:hover {
    background-color: var(--bg2) !important;
  }

/* --------------------
Paragraph.astro
-------------------- */
.darkmode p {
  color: var(--fg);
}

/* --------------------
SyncedBlock.astro
-------------------- */
.darkmode .callout.blue-background {
  background: #1D282E !important;
}

/* --------------------
Table.astro
-------------------- */
.darkmode table {
  color: var(--fg);
}
.darkmode table th {
  background: var(--bg2);
  border-color: #2f2f2f;
}
.darkmode table td {
  border-color: #2f2f2f;
}
.darkmode .table table {
  &::-webkit-scrollbar {
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--accents-3) !important;
  }
  &::-webkit-scrollbar-track {
    background: var(--bg) !important;
  }
}

/* --------------------
TableOfContents.astro
-------------------- */
.darkmode .table-of-contents > a {
  color: #9B9B9B;
}
.darkmode .table-of-contents > a:hover {
  background: var(--bg2) !important;
}

/* --------------------
ToDo.astro
-------------------- */
.darkmode .to-do {
  color: var(--fg) !important;
}

/* --------------------
Mention.astro
-------------------- */
.darkmode a.link:hover {
  background: var(--bg2) !important;
}
.darkmode span.text {
  text-decoration-color: #707070 !important;
}

/* --------------------
PostRelativeLink.astro
-------------------- */
.darkmode div.post-relative-link > div > a.colored  {
  background: var(--bg2) !important;
}
.darkmode .post-relative-link > div > a.colored:hover {
  background: #323232 !important;
}

/* --------------------
BlogPostsLink.astro
-------------------- */
.darkmode .blog-posts-link ul li a:hover {
  background-color: var(--bg2) !important;
}
.darkmode .blog-posts-link h2 {
  color: #d5d5d5 !important;
}

/* --------------------
BlogTagsLink.astro
-------------------- */
.darkmode .blog-tags-link h2 {
  color: #d5d5d5 !important;
}
.darkmode .blog-tags-link ul li a {
  color: #f7f7f7 !important;
  background: var(--bg2) !important;
}
.darkmode .blog-tags-link ul li a:hover {
  background: #323232 !important;
}
.darkmode [data-icon="mingcute:filter-line"] {
  color: #d5d5d5 !important;
}

/* --------------------
SearchButton.astro
-------------------- */
.darkmode [data-icon="mingcute:search-line"] {
  color: #fff !important;
}
.search-button:hover {
  background: var(--bg2) !important;
}

/* --------------------
BlogButton.astro
-------------------- */
.darkmode [data-icon="mingcute:document-2-line"] {
  color: #fff !important;
}
.darkmode .blog-button:hover {
  background: var(--bg2) !important;
}

/* --------------------
SocialLinks.astro
-------------------- */
.darkmode .social-links a {
  border:solid 1px #373737 !important;
}
.darkmode .social-links a:hover {
  background: var(--bg2) !important;
}
.darkmode .social-links [data-icon="simple-icons:x"] {
  color: #fffffc !important;
}

/* --------------------
DiaryLinks.astro
-------------------- */
.darkmode .diary-links a {
  border:solid 1px #373737 !important;
}
.darkmode .diary-links a:hover {
  background: var(--bg2) !important;
}

/* --------------------
OtherLinks.astro
-------------------- */
.darkmode .other-links a {
  border:solid 1px #373737 !important;
}
.darkmode .other-links a:hover {
  background: var(--bg2) !important;
}

/* --------------------
SearchModal.astro
-------------------- */
.darkmode div.search-result ul > li.selected > a {
  background-color: rgba(32, 32, 32, 1) !important;
}

/* --------------------
Heading1.astro
-------------------- */
.darkmode h3 {
  border-bottom: 1px solid #373737 !important;
}
.darkmode h3::before {
  color: #373737 !important;
}
.darkmode h3:hover::before {
  color: #9b9b9b !important;
}

/* --------------------
Heading2.astro
-------------------- */
.darkmode h4::before {
  color: #373737 !important;
}
.darkmode h4:hover::before {
  color: #9b9b9b !important;
}

/* --------------------
Heading3.astro
-------------------- */
.darkmode h5::before {
  color: #373737 !important;
}
.darkmode h5:hover::before {
  color: #9b9b9b !important;
}

/* --------------------
notion-color.css
-------------------- */
.darkmode .tag.default {
  background: #373737 !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.gray {
  background: #5a5a5a !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.brown {
  background: #603b2c !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.orange {
  background: #864C1D !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.yellow {
  background: #8a632a !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.green {
  background: #2c5940 !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.blue {
  background: #28456c !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.purple {
  background: #493064 !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.pink {
  background: #613047 !important;
  color: #f7f7f7 !important;
}
.darkmode .tag.red {
  background: #6f3630 !important;
  color: #f7f7f7 !important;
}
.darkmode .gray-background {
  background: #252525 !important;
}
.darkmode .brown-background {
  background: #2f2723 !important;
}
.darkmode .orange-background {
  background: #38281e !important;
}
.darkmode .yellow-background {
  background: #392e1e !important;
}
.darkmode .green-background {
  background: #222b26 !important;
}
.darkmode .blue-background {
  background: #1d282e !important;
}
.darkmode .purple-background {
  background: #2b2431 !important;
}
.darkmode .pink-background {
  background: #302228 !important;
}
.darkmode .red-background {
  background: #362422 !important;
}

/* --------------------
ダークモードトグル
-------------------- */
.mode-wrap {
  display:none;
}

.mode-wrap #mode-toggle {
  display: none;
}

.mode-wrap #mode-toggle + label {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display : inline-flex;
  align-items: center;
  font-size: 1rem;
  height: 1.6em;
  width: 2.4em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: calc(2em / 2);
  background: #000;
  -webkit-transition: 0.2s;  transition: 0.2s;
  border: 2px solid #000;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mode-wrap #mode-toggle + label span {
  background: #fff;
  border-radius: 50%;
  height: 1.8em;
  width: 1.8em;
  -webkit-transform: translateX(-0.125em) scale(0.65);
  transform: translateX(-0.125em) scale(0.65);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.mode-wrap #mode-toggle:checked + label {
  border-color: var(--bg);
  background: #fff;
}

.mode-wrap #mode-toggle:checked + label span {
  background: var(--bg);
  -webkit-transform: translateX(calc(100% - 1.25em)) scale(0.65);
  transform: translateX(calc(100% - 1.25em)) scale(0.65);
}

.darkmode .mode-wrap #mode-toggle + label {
  border-color: #fff;
}

#modes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border: none;
  background: #f7f6f3;
  border-radius: 50vh;
  cursor: pointer;
}
#modes:hover {
  background: #ebebeb;
}
.darkmode #modes{
  background: var(--bg2);
}
.darkmode #modes:hover {
  background: #323232;
}
#modes svg{
  width: 26px;
  height: 26px;
  transition: color 0.3s ease-in-out;
}
[data-icon="mingcute:sun-fill"] {
  color: #ff4500;
}
[data-icon="mingcute:moon-fill"] {
  color: #000;
}
.darkmode [data-icon="mingcute:sun-fill"] {
  color: #fff;
}
.darkmode [data-icon="mingcute:moon-fill"] {
  color: #ffff00;
}
</style>

<script is:inline>
/* --------------------
ダークモード切り替え
-------------------- */
// OS設定を反映
const osDark = window.matchMedia("(prefers-color-scheme: dark)");
// トグル処理
const modeToggle = document.getElementById("mode-toggle");
function darkModeOn() {
  document.documentElement.classList.add("darkmode");
  modeToggle.checked = true;
}

function darkModeOff() {
  document.documentElement.classList.remove("darkmode");
  modeToggle.checked = false;
}

const listener = (event) => {
  if (event.matches) {
    darkModeOn();
  } else {
    darkModeOff();
  }
};

osDark.addEventListener("change", listener);
listener(osDark);

modeToggle.addEventListener("change", () => {
  if (modeToggle.checked) {
    darkModeOn();
    style = "dark";
  } else {
    darkModeOff();
    style = "light";
  }
  localStorage.setItem("mode", style);
});
// モード設定をロード
if (localStorage.getItem("mode") === "dark") {
  darkModeOn();
} else if (localStorage.getItem("mode") === "light") {
  darkModeOff();
}

modes.addEventListener ( "click", () => { 
  modeToggle.click();
});
</script>