---
import { Icon } from 'astro-icon/components'
import '../styles/scroll-links.css'
---

<div class="scroll-links">
<ul id="scroll-links-database">
  <li>
    <a href="https://arkxv.notion.site/records" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:file-folder" />
      <span>アニメ視聴記録</span>
    </a>
  </li>
  <li>
    <a href="https://arkxv.notion.site/ranking" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:crown" />
      <span>アニメランキング</span>
    </a>
  </li>
  <li>
    <a href="https://arkxv.notion.site/songs" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:musical-note" />
      <span>楽曲ランキング</span>
    </a>
  </li>
  <li>
    <a href="https://arkxv.notion.site/reports" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:newspaper" />
      <span>デイリーレポート</span>
    </a>
  </li>
  <li>
    <a href="https://arkxv.notion.site/timetables" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:eyes" />
      <span>視聴予定表</span>
    </a>
  </li>
  <li>
    <a href="https://arkxv.notion.site/rating" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:green-heart" />
      <span>評価区分</span>
    </a>
  </li>
</ul>
</div>

<style>
  .scroll-links ul {
    padding: 0 0 1px 0;
  }
  .scroll-links ul li a {
    padding-right: 10px;
  }
  .scroll-links ul li a span {
    padding-left: 5px;
  }
  .scroll-links ul li a svg {
    margin-left: 10px;
  }
</style>