---
import { Icon } from 'astro-icon/components'
---

<div>
<ul class="scroll-links">
  <li>
    <a href="https://diary.arkxv.com/reports" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:newspaper" />
      <span>デイリーレポート</span>
    </a>
  </li>
  <li>
    <a href="https://diary.arkxv.com/records" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:file-folder" />
      <span>アニメ視聴記録</span>
    </a>
  </li>
  <li>
    <a href="https://diary.arkxv.com/ranking" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:crown" />
      <span>アニメランキング</span>
    </a>
  </li>
  <li>
    <a href="https://diary.arkxv.com/songs" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:musical-note" />
      <span>楽曲ランキング</span>
    </a>
  </li>
  <li>
    <a href="https://diary.arkxv.com/programs" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:television" />
      <span>アニメ番組表</span>
    </a>
  </li>
  <li>
    <a href="https://diary.arkxv.com/timetables" target="_blank" rel="noopener noreferrer">
      <Icon name="twemoji:eyes" />
      <span>視聴予定表</span>
    </a>
  </li>
</ul>
</div>

<style>
  ul {
    display: flex;
    list-style-type: none;
    padding: 0 0 1px 0;
    gap: 8px;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
  }
  ul::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 640px) {
    div {
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
    }
    ul {
      padding-left: 18px;
    }
    ul:last-child {
      padding-right: 18px;
    }
  }
  a {
    display: flex;
    align-items: center;
    height: 40px;
    padding-right: 10px;
    border: var(--border);
    border-radius: var(--radius);
    overflow: hidden;
    color: var(--fg);
  }
  @media (hover: hover) {
    a:hover {
      background: var(--bg2);
    }
  }
  @media (hover: none) {
    a:active {
      background: var(--bg2);
    }
  }
  span {
    padding-left: 5px;
  }
  svg {
    margin-left: 10px;
  }
</style>