---
import { Icon } from 'astro-icon/components'
---

<a class="home-button" href="/" aria-label="ホーム">
	<Icon name="mingcute:home-4-line" />
</a>

<style>
	.home-button {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .home-button:hover {
  	cursor: pointer;
    background: #f7f6f3;
  }
  svg {
  	width: 26px;
    height: 26px;
  }
	.home-button [data-icon="mingcute:home-4-line"] {
    color: var(--fg);
  }
  .home-button.current [data-icon="mingcute:home-4-line"] {
    color: var(--accents-4);
  }
</style>

<script>
  document.querySelectorAll('.home-button').forEach(link => {
    if(link.href === window.location.href){
      link.classList.add('current')
    }
  })
</script>