---
import { Icon } from 'astro-icon/components'
---

<div class="fixed-nav">
  <a id="home-icon" href="/" aria-label="ホーム">
    <Icon name="mingcute:home-4-line" />
    <span>Home</span>
  </a>
  <a id="blog-icon" href="/blog/" aria-label="ブログ">
    <Icon name="mingcute:edit-line" />
    <span>Blog</span>
  </a>
  <a id="about-icon" href="/about/" aria-label="About">
    <Icon name="mingcute:information-line" />
    <span>About</span>
  </a>
  <a id="search-icon" href="/search/" aria-label="検索">
	  <Icon name="mingcute:search-line" />
  </a>
</div>

<style>
  .fixed-nav {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 4px;
    border: 1px solid var(--border);
    border-radius: 99px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: fit-content;
    z-index: 99;
  }
  a {
    display: flex;
    align-items: center;
    padding: 2px 11px 2px 10px;
    border-radius: 99px;
    gap: 4px;
    font-size: 14px;
  }
  @media (hover: hover) {
    a:hover {
      background: var(--bg2);
    }
  }
  @media (hover: none) {
    a:active {
      background: var(--bg2);
    }
  }
  a svg {
  	width: 20px;
    height: 20px;
    color: var(--fg);
  }
  a span {
    font-weight: 600;
    color: var(--fg);
  }
  a.current svg, a.current span {
    color: var(--accents-4);
  }
  #search-icon {
    padding: 8px;
  }
</style>

<script>
  document.querySelectorAll('#home-icon').forEach(link => {
    if(link.href === window.location.href){
      link.classList.add('current')
    }
  })
  document.querySelectorAll('#blog-icon').forEach(link => {
    if(location.pathname.includes('/blog')){
      link.classList.add('current')
    }
  })
  document.querySelectorAll('#search-icon').forEach(link => {
    if(link.href === window.location.href){
      link.classList.add('current')
    }
  })
  document.querySelectorAll('#about-icon').forEach(link => {
    if(link.href === window.location.href){
      link.classList.add('current')
    }
  })
</script>