---
import { Icon } from 'astro-icon/components'
---

<div class="fixed-nav">
  <a class="js-navlink" href="/" aria-label="ホーム">
    <Icon name="mingcute:home-4-line" />
    <span>Home</span>
  </a>
  <a class="js-navlink" href="/blog/" aria-label="ブログ">
    <Icon name="mingcute:edit-line" />
    <span>Blog</span>
  </a>
  <a class="js-navlink" href="/about/" aria-label="About">
    <Icon name="mingcute:information-line" />
    <span>About</span>
  </a>
  <a class="js-navlink" href="/search/" aria-label="検索">
    <Icon name="mingcute:search-line" />
  </a>
</div>

<style>
  .fixed-nav {
    position: fixed;
    display: flex;
    top: 12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 4px;
    border: var(--border);
    border-radius: 99px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: fit-content;
    height: 45.6px;
    z-index: 99;
  }
  a {
    display: flex;
    align-items: center;
    padding: 2px 11px 2px 10px;
    border-radius: 99px;
    gap: 4px;
    font-size: 14px;
  }
  @media (hover: hover) {
    a:hover {
      background: var(--bg2);
    }
  }
  @media (hover: none) {
    a:active {
      background: var(--bg2);
    }
  }
  a svg {
  	width: 20px;
    height: 20px;
    color: var(--fg);
  }
  a span {
    font-weight: 600;
    color: var(--fg);
  }
  a.current svg, a.current span {
    color: var(--ac);
  }
  a:last-of-type {
    padding: 8px;
  }
</style>

<script is:inline>
  const navLink = document.querySelectorAll('.js-navlink');

  navLink.forEach((targetLink) => {
    if (targetLink.href === location.href || targetLink.href.includes('/blog/') && location.href.includes('/blog/')){
      targetLink.classList.add('current');
    }
  });  
</script>