---
import { Icon } from 'astro-icon/components'
---

<nav>
  <a id="home-icon" href="/" aria-label="ホーム">
	  <Icon name="mingcute:home-4-line" />
    <span>Home</span>
  </a>
  <a id="blog-icon" href="/blog/" aria-label="ブログ">
	  <Icon name="mingcute:edit-line" />
    <span>Blog</span>
  </a>
  <a id="search-icon" href="/search/" aria-label="検索">
	  <Icon name="mingcute:search-line" />
    <span>Search</span>
  </a>
  <a id="about-icon" href="/about/" aria-label="About">
	  <Icon name="mingcute:information-line" />
    <span>About</span>
  </a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  a {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 4.5px;
    gap: 4px;
  }
  @media (hover: hover) {
    a:hover {
      background: var(--bg2);
    }
  }
  @media (hover: none) {
    a:active {
      background: var(--bg2);
    }
  }
  a svg {
  	width: 24px;
    height: 24px;
    color: var(--fg);
  }
  a span {
    font-weight: 600;
    line-height: 24px;
    color: var(--fg);
    margin-right: 2px;
  }
  a.current svg, a.current span {
    color: var(--accents-4);
  }
  @media (max-width: 640px) {
    nav {
      gap: 4px;
    }
    a span {
      display: none;
    }
  }
</style>

<script>
  document.querySelectorAll('#home-icon').forEach(link => {
    if(link.href === window.location.href){
      link.classList.add('current')
    }
  })
  document.querySelectorAll('#blog-icon').forEach(link => {
    if(location.pathname.includes('/blog')){
      link.classList.add('current')
    }
  })
  document.querySelectorAll('#search-icon').forEach(link => {
    if(link.href === window.location.href){
      link.classList.add('current')
    }
  })
  document.querySelectorAll('#about-icon').forEach(link => {
    if(link.href === window.location.href){
      link.classList.add('current')
    }
  })
</script>