---
import { Icon } from 'astro-icon/components'
import clubdam from '../images/clubdam.webp'
import nana from '../images/nana.webp'
import annict from '../images/annict.webp'
import petitlyrics from '../images/petitlyrics.webp'
---

<div>
<ul class="scroll-links">
  <li>
    <a href="https://open.spotify.com/user/21j2yhq6gvx2n2xhxga2obtri?si=762b421111464bf0" target="_blank" rel="noopener noreferrer">
      <Icon name="simple-icons:spotify" />
      <span>Spotify</span>
    </a>
  </li>
  <li>
    <a href="https://annict.com/@Arkxv" target="_blank" rel="noopener noreferrer">
      <img src={annict.src} alt="" />
      <span>Annict</span>
    </a>
  </li>
  <li>
    <a href="https://bookmeter.com/users/1340009" target="_blank" rel="noopener noreferrer">
      <Icon name="simple-icons:bookmeter" />
      <span>読書メーター</span>
    </a>
  </li>
  <li>
    <a href="https://petitlyrics.com/profile/Ark_sg" target="_blank" rel="noopener noreferrer">
      <img src={petitlyrics.src} alt="" />
      <span>プチリリ</span>
    </a>
  </li>
  <li>
    <a href="https://nana-music.com/users/830241" target="_blank" rel="noopener noreferrer">
      <img src={nana.src} alt="" />
      <span>nana</span>
    </a>
  </li>
  <li>
    <a href="https://www.clubdam.com/app/damtomo/SP/member/info/Profile.do?damtomoId=Mzc1MjQ1OTM" target="_blank" rel="noopener noreferrer">
      <img src={clubdam.src} alt="" />
      <span>DAM★とも</span>
    </a>
  </li>
  <li>
    <a href="https://lounge.nintendo.com/friendcode/5918-2458-2583/Cw7BP1FsvQ" target="_blank" rel="noopener noreferrer">
      <Icon name="simple-icons:nintendoswitch" />
      <span>Nintendo Switch</span>
    </a>
  </li>
</ul>
</div>

<style>
  ul {
    display: flex;
    list-style-type: none;
    padding: 0 0 1px 0;
    gap: 8px;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
  }
  ul::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 640px) {
    div {
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
    }
    ul {
      padding-left: 18px;
    }
    ul:last-child {
      padding-right: 18px;
    }
  }
  a {
    display: flex;
    align-items: center;
    height: 40px;
    padding-right: 10px;
    border:solid 1px #dfdfde;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    color: var(--fg);
  }
  a:hover {
    background: #f7f6f3;
  }
  span {
    padding-left: 5px;
  }
  svg, img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }
  [data-icon="simple-icons:spotify"] {
    color: #1ed760;
  }
  [data-icon="simple-icons:bookmeter"] {
    color: #64bc4b;
  }
  [data-icon="simple-icons:nintendoswitch"] {
    color: #e60012;
  }
</style>