---
import { Block } from '../lib/interfaces.ts'
import NotionBlocks from './NotionBlocks.astro'

export interface Props {
  blocks: Block[]
}

const { blocks } = Astro.props
---

<div class="post-body">
  <NotionBlocks blocks={blocks} isRoot={true} />
</div>

<style>
  @media (min-width: 801px) {
    .post-body {
      width: 75%;
    }
  }
</style>
<style is:global>
  .post-body > *:first-child {
    margin-top: 0 !important;
  }
</style>