---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'
import { Icon } from 'astro-icon/components'

export interface Props {
  prevPost: Post
  nextPost: Post
}

const { prevPost, nextPost } = Astro.props
---

<div class="post-relative-link">
  <div>
    {
      nextPost && (
        <a href={getPostLink(nextPost.Slug)} class="next">
          <Icon name="mingcute:arrow-left-line" />
          <span>{nextPost.Title}</span>
        </a>
      )
    }
  </div>
  <div>
    {
      prevPost && (
        <a href={getPostLink(prevPost.Slug)} class="prev">
          <span>{prevPost.Title}</span>
          <Icon name="mingcute:arrow-right-line" />
        </a>
      )
    }
  </div>
</div>

<style>
  div.post-relative-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 14px;
    row-gap: 14px;
    margin-top: 1rem;
  }
  @media (max-width: 640px) {
    div.post-relative-link {
      column-gap: 8px;
      row-gap: 8px;
    }
  }
  div.post-relative-link > div > a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px 10px;
    border: var(--border);
    border-radius: var(--radius);
    color: var(--fg);
    gap: 4px;
  }
  div.post-relative-link > div > a.prev {
    justify-content: flex-end;
    text-align: right;
  }
  @media (hover: hover) {
    div.post-relative-link > div > a:hover {
      background: var(--bg2);
    }
  }
  @media (hover: none) {
    div.post-relative-link > div > a:active {
      background: var(--bg2);
    }
  }
  div.post-relative-link > div > a > svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }
  div.post-relative-link > div > a > span {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 500;
    padding-top: 0;
  }
</style>
