---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  image && (
    <div class="post-featured-image">
      <img src={image} alt="Featured image of the post" />
    </div>
  )
}

<style>
  .post-featured-image img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: 0.3s all;
    mask-image: linear-gradient(to top, #0000, #000);
    -webkit-mask-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }
</style>
<style is:global>
  @media (hover: hover) {
    .grid-parts:hover .post-featured-image img {
      transform: scale(1.05,1.05);
    }
  }
</style>