---
import { Post } from '../lib/interfaces.ts'
import { getDateStr } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div>
  {post.Date ? <div class="post-date">{getDateStr(post.Date)}&nbsp;に公開</div> : ''}
</div>

<style>
  .post-date {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
  }
  .post-date svg {
    width: 18px;
    height: 18px;
    margin-right: 5px; 
  }
</style>
