---
import { Post } from '../lib/interfaces.ts'
import { getDateStr } from '../lib/blog-helpers.ts'
import { Icon } from 'astro-icon/components'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div>
  {post.UpdateDate ? <div class="post-date"><Icon name="mingcute:edit-3-fill" />{getDateStr(post.UpdateDate)}</div> : ''}
</div>

<style>
  .post-date {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
  }
  .post-date svg {
    width: 18px;
    height: 18px;
    margin-right: 5px; 
  }
</style>