---
import { Icon } from 'astro-icon/components'
---

<a class="rss-button" href="/rss.xml" target="_blank" rel="noopener noreferrer" aria-label="RSSフィード">
    <Icon name="mingcute:rss-2-line" />
</a>

<style>
    .rss-button {
        display: flex;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
    .rss-button:hover {
        cursor: pointer;
        background: #f7f6f3;
    }
    svg {
        width: 26px;
        height: 26px;
    }
     [data-icon="mingcute:rss-2-line"] {
        color: #000;
    }
</style>