---
import { Icon } from 'astro-icon/components'
---

<button class="search-button open-search-modal" type="button" aria-label="検索"><Icon name="mingcute:search-line" /></button>

<style>
  .search-button {
    display: flex;
    height: 35px;
    background: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .search-button:hover {
    cursor: pointer;
    background: #f7f6f3;
  }
  .search-button svg {
    width: 26px;
    height: 26px;
  }
  [data-icon="mingcute:search-line"] {
    color: #000;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    function handleKeydown(event) {
      if (event.keyCode === 75 && event.metaKey) {
        // Ctrl+K or Cmd+K
        document.querySelector('.open-search-modal').click()
      }
    }

    document.addEventListener('keydown', handleKeydown)
  })
</script>
