---
import { Icon } from 'astro-icon/components'
---

<a class="search-button" href="/search" aria-label="検索">
	<Icon name="mingcute:search-line" />
</a>

<style>
	.search-button {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .search-button:hover {
  	cursor: pointer;
    background: #f7f6f3;
  }
  svg {
  	width: 26px;
    height: 26px;
  }
	.search-button [data-icon="mingcute:search-line"] {
    color: var(--fg);
  }
  .search-button.current [data-icon="mingcute:search-line"] {
    color: #a58452;
  }
</style>

<script>
  document.querySelectorAll('.search-button').forEach(link => {
    if(link.href === window.location.href){
      link.classList.add('current')
    }
  })
</script>