---
import { Icon } from 'astro-icon/components'
---

<div class="share-area">
  <a id="js-share-x" class="share_button share_x" href="" target="_blank" rel="nofollow noopener noreferrer">
    <Icon name="simple-icons:x" />
  </a>
  <a id="js-share-bluesky" class="share_button share_bluesky" href="" target="_blank" rel="nofollow noopener noreferrer">
    <Icon name="simple-icons:bluesky" />
  </a>
  <a id="js-share-misskey" class="share_button share_misskey" href="" target="_blank" rel="nofollow noopener noreferrer">
    <Icon name="simple-icons:misskey" />
  </a>
  <a id="js-share-mastodon" class="share_button share_mastodon" href="" target="_blank" rel="nofollow noopener noreferrer">
    <Icon name="simple-icons:mastodon" />
  </a>
  <a id="js-share-threads" class="share_button share_threads" href="" target="_blank" rel="nofollow noopener noreferrer">
    <Icon name="simple-icons:threads" />
  </a>
  <button type="button" id="postlink-btn" aria-label="リンクをコピー">
    <Icon name="mingcute:link-fill" />
  </button>
  <button type="button" id="system-share-btn" aria-label="共有">
    <Icon name="mingcute:more-1-fill" />
  </button>
</div>

<style>
  .share-area {
    display: flex;
    padding: 30px 10px;
    gap: 15px;
  }
  @media (max-width: 640px) {
    .share-area {
      justify-content: center;
    }
  }
  .share-area a, .share-area button {
    height: 26px;
    color: var(--fg2);
  }
  .share-area svg {
    width: 26px;
    height: 26px;
  }
  button {
    padding: 0;
    border: none;
    background: transparent;
  }
  
  @media (hover: hover) {
    [data-icon="simple-icons:x"]:hover {
      color: #10131a;
    }
    [data-icon="simple-icons:bluesky"]:hover {
      color: #1185fe;
    }
    [data-icon="simple-icons:misskey"]:hover {
      color: #96d04a;
    }
    [data-icon="simple-icons:mastodon"]:hover {
      color: #5d52e9;
    }
    [data-icon="simple-icons:threads"]:hover {
      color: #000000;
    }
    [data-icon="mingcute:link-fill"]:hover,
    [data-icon="mingcute:more-1-fill"]:hover {
      color: var(--ac);
    }
  }
  @media (hover: none) {
    [data-icon="simple-icons:x"]:active {
      color: #10131a;
    }
    [data-icon="simple-icons:bluesky"]:active {
      color: #1185fe;
    }
    [data-icon="simple-icons:misskey"]:active {
      color: #96d04a;
    }
    [data-icon="simple-icons:mastodon"]:active {
      color: #5d52e9;
    }
    [data-icon="simple-icons:threads"]:active {
      color: #000000;
    }
    [data-icon="mingcute:link-fill"]:active,
    [data-icon="mingcute:more-1-fill"]:active {
      color: var(--ac);
    }
  }
</style>

<script>
  import { createToast } from "../scripts/toast.js";
  
  const share_url = location.href;
  const share_title = document.title;

  // X で共有
  const share_x = document.getElementById("js-share-x");
  if (share_x) {
    share_x.setAttribute(
	    "href", "https://x.com/share?url=" + share_url + "&text=" + share_title
    );
  }

  // Bluesky で共有
  const share_bluesky = document.getElementById("js-share-bluesky");
  if (share_bluesky) {
    share_bluesky.setAttribute(
      "href", "https://bsky.app/intent/compose?text=" + share_title + "+" + share_url
    );
  }

  // Misskey で共有
  const share_misskey = document.getElementById("js-share-misskey");
  if (share_misskey) {
    share_misskey.setAttribute(
      "href", "https://misskey-hub.net/share/?text=" + share_title + "+" + share_url
    );
  }

  // Mastodon で共有
  const share_mastodon = document.getElementById("js-share-mastodon");
  if (share_mastodon) {
    share_mastodon.setAttribute(
      "href", "https://mastoshare.net/share?text=" + share_title + "+" + share_url
    );
  }

  // Threads で共有
  const share_threads = document.getElementById("js-share-threads");
  if (share_threads) {
    share_threads.setAttribute(
      "href", "https://www.threads.net/intent/post?text=" + share_title + "+" + share_url
    );
  }

  // リンクをコピー
  const feedLinkBtn = document.getElementById("postlink-btn");
  if (feedLinkBtn) {
    feedLinkBtn.addEventListener("click", (e) => {
      navigator.clipboard.writeText(share_url);
      createToast('記事リンクをクリップボードにコピーしました');
    });
  }

  // システムの共有機能
  const systemShareBtn = document.getElementById('system-share-btn');

  if (systemShareBtn) {
    systemShareBtn.addEventListener('click', async () => {
      try {
        await navigator.share({
          title: share_title,
          url: share_url,
        });
      } catch (err) {
        if (err instanceof Error && err.message === 'navigator.share is not a function') {
          createToast('このブラウザは Web Share API をサポートしていません');
        }
      }
    });
  }
</script>