---
import { Icon } from 'astro-icon/components'
import mixi2 from '../images/mixi2.svg'
---

<div>
<ul class="scroll-links">
  <li>
    <a class="arrow" href="/about/">
      <span>About me</span>
      <Icon name="mingcute:arrow-right-line" />
    </a>
  </li>
	<li>
    <a class="sns" href="https://x.com/Arkxv1" target="_blank" rel="noopener noreferrer">
      <Icon name="simple-icons:x" />
      <span>X</span>
    </a>
  </li>
  <li>
    <a class="sns" href="https://bsky.app/profile/arkxv.com" target="_blank" rel="noopener noreferrer">
      <Icon name="simple-icons:bluesky" />
      <span>Bluesky</span>
    </a>
  </li>
  <li>
    <a class="sns" href="https://mixi.social/@Arks" target="_blank" rel="noopener noreferrer">
      <img id="mixi2" src={mixi2.src} alt="" />
      <span>mixi2</span>
    </a>
  </li>
  <li>
    <a class="sns" href="https://misskey.io/@Arkxv" target="_blank" rel="noopener noreferrer me">
    	<Icon name="simple-icons:misskey" />
    	<span>Misskey.io</span>
    </a>
  </li>
  <li>
    <a class="sns" href="https://mstdn.jp/@Arkxv" target="_blank" rel="noopener noreferrer me">
      <Icon name="simple-icons:mastodon" />
      <span>mstdn.jp</span>
    </a>
  </li>
  <li>
    <a class="sns" href="https://www.threads.net/@arkvw" target="_blank" rel="noopener noreferrer me">
      <Icon name="simple-icons:threads" />
      <span>Threads</span>
    </a>
  </li>
</ul>
</div>

<style>
	ul {
  	display: flex;
    list-style-type: none;
    padding: 0 0 1px 0;
    gap: 8px;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
  }
  ul::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 640px) {
    div {
    	margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
    }
    ul {
      padding-left: 18px;
    }
    ul:last-child {
      padding-right: 18px;
    }
  }
  a {
    display: flex;
    align-items: center;
    height: 40px;
    padding-right: 10px;
    border: var(--border);
    border-radius: var(--radius);
    overflow: hidden;
    color: var(--fg);
  }
  @media (hover: hover) {
    a:hover {
      background: var(--bg2);
    }
  }
  @media (hover: none) {
    a:active {
      background: var(--bg2);
    }
  }
  a.arrow {
    padding-left: 7px;
  }
  a.arrow svg {
    margin-left: 5px;
  }
  a.sns svg, a.sns img {
    margin-left: 10px;
  }
  span {
    padding-left: 5px;
  }
  #mixi2 {
    width: 16px;
    height: 12.57px;
  }
  [data-icon="simple-icons:x"] {
    color: #10131a;
  }
  [data-icon="simple-icons:bluesky"] {
    color: #1185fe;
  }
  [data-icon="simple-icons:misskey"] {
    color: #96d04a;
  }
  [data-icon="simple-icons:mastodon"] {
    color: #5d52e9;
  }
  [data-icon="simple-icons:threads"] {
    color: #000000;
  }
</style>