---
import { Icon } from 'astro-icon/components'
import '../styles/scroll-links.css'
import mixi2 from '../images/mixi2.svg'
---

<div class="scroll-links">
<ul id="scroll-links-social">
  <li>
    <a class="arrow" href="/about/">
      <span>About me</span>
      <Icon name="mingcute:arrow-right-line" />
    </a>
  </li>
	<li>
    <a class="sns" href="https://x.com/Arkxv1" target="_blank" rel="noopener noreferrer">
      <Icon name="bi:twitter-x" />
      <span>X (Twitter)</span>
    </a>
  </li>
  <li>
    <a class="sns" href="https://bsky.app/profile/arkxv.com" target="_blank" rel="noopener noreferrer">
      <Icon name="simple-icons:bluesky" />
      <span>Bluesky</span>
    </a>
  </li>
  <li>
    <a class="sns" href="https://misskey.io/@Arkxv" target="_blank" rel="noopener noreferrer me">
    	<Icon name="simple-icons:misskey" />
    	<span>Misskey.io</span>
    </a>
  </li>
  <li>
    <a class="sns" href="https://mstdn.jp/@Arkxv" target="_blank" rel="noopener noreferrer me">
      <Icon name="simple-icons:mastodon" />
      <span>mstdn.jp</span>
    </a>
  </li>
  <li>
    <a class="sns" href="https://mixi.social/@Arks" target="_blank" rel="noopener noreferrer">
      <img id="mixi2" src={mixi2.src} alt="" />
      <span>mixi2</span>
    </a>
  </li>
</ul>
</div>

<style>
	.scroll-links ul {
    padding: 0 0 1px 0;
  }
  .scroll-links ul li a {
    padding-right: 10px;
  }
  .scroll-links ul li a.arrow {
    padding-left: 7px;
  }
  .scroll-links ul li a.arrow svg {
    margin-left: 5px;
  }
  .scroll-links ul li a.sns svg,
  .scroll-links ul li a.sns img {
    margin-left: 10px;
  }
  .scroll-links ul li a span {
    padding-left: 5px;
  }
  .scroll-links ul li a #mixi2 {
    width: 16px;
    height: 12.57px;
  }
  [data-icon="bi:twitter-x"] {
    color: #10131a;
  }
  [data-icon="simple-icons:bluesky"] {
    color: #1185fe;
  }
  [data-icon="simple-icons:misskey"] {
    color: #96d04a;
  }
  [data-icon="simple-icons:mastodon"] {
    color: #5d52e9;
  }
  [data-icon="simple-icons:threads"] {
    color: #000000;
  }
</style>